@page
@model Hearthstone.Pages.Cards.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
