@page "{cardId:int?}"
@model Hearthstone.Pages.Cards.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h2>Editing @Model.Card.Name</h2>

<form method="post">

    <input type="hidden" asp-for="Card.Id" />

    <div class="form-group">
        <label asp-for="Card.Name"></label>
        <input asp-for="Card.Name" class="form-control" />
        <span class="text-danger" asp-validation-for="Card.Name"></span>
    </div>

    <div class="form-group">
        <label asp-for="Card.Cost"></label>
        <input asp-for="Card.Cost" class="form-control" />
        <span class="text-danger" asp-validation-for="Card.Cost"></span>
    </div>

    <div class="form-group">
        <label asp-for="Card.Class"></label>
        <select class="form-control" asp-for="Card.Class"
                                     asp-items="Model.Classes">
        </select>
        <span class="text-danger" asp-validation-for="Card.Class"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}

