@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h1>Welcome to my Contact Page!</h1>
<h2>Hi, my name is George Ciurescu and Im a software developer!</h2>
<img src="/profile.jpg" id="profilepic" />
<br />

<h4>I'm originally from Romania and after I moved to Scotland 6 years ago I fell in love with the Scottish outdoors. Hillwalking and coding are two of my favourite things in the world.</h4>
<br />

<address>
    Address: Clydebank, Glasgow<br />
    <br />
    <abbr title="Phone">Phone No:</abbr>
    07856264374
</address>

<address>
    <strong>Email:</strong> <a href="mailto:georce@yahoo.com">georce@yahoo.com</a><br />
</address>
